/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3 { color: black; }
app-root { height: 100%;}

button {
    background-color: #F6F4F3;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #23022E;
}
